<mat-toolbar class="header-bar" color="primary">
  <mat-toolbar-row class="secondary" [@slideInUp]="slideInUp">
    <button
      mat-button
      routerLink="./"
      routerLinkActive="mat-warn"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard
    </button>
    <button mat-button routerLink="./settings" routerLinkActive="mat-warn">
      Settings
    </button>
    <button mat-button routerLink="./songs" routerLinkActive="mat-warn">
      Songs
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
