<mat-spinner *ngIf="!form" color="accent"></mat-spinner>
<div class="form-container" *ngIf="form">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h3>Settings</h3>
    <mat-form-field>
      <input matInput type="number" formControlName="requestsPerUser" placeholder="Requests Per User" />
      <mat-error *ngIf="!form.get('requestsPerUser').valid">Must be whole number, greater than 0</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="requestQueueLimit" placeholder="Request Queue Limit" />
      <mat-error *ngIf="!form.get('requestQueueLimit').valid">Must be whole number, greater than 0</mat-error>
    </mat-form-field>
    <div>
      <mat-checkbox formControlName="isPaused">
        Pause Bot (Disable NEW Requests)
      </mat-checkbox>
    </div>
    <br />
    <button mat-fab type="submit" color="primary" [disabled]="!form.valid">
      <i *ngIf="!saving" class="fas fa-save"></i>
      <i *ngIf="saving" class="fas fa-spinner fa-pulse"></i>
    </button>
    <!-- <h4>Chat Settings</h4> -->
    <!-- <div>
      <mat-checkbox formControlName="allowChatRequests">
        Allow Chat Requests
      </mat-checkbox>
    </div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="requestAlias"
        placeholder="Request Alias"
      />
    </mat-form-field> -->
  </form>
</div>
