* {
  box-sizing: border-box;
}

form {
  width: 100%;
  background: #777;
  padding: 10px 20px;
  min-height: calc(100vh - 175px);
  border-radius: 10px;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

mat-form-field {
  width: calc(100% - 75px);
}

mat-spinner {
  margin: 50px auto;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #ffab40 !important;
}

form > button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.form-container {
  margin-bottom: 50px;
}
