<h1>Searchable JSON File For Requests</h1>

<form [formGroup]="uploadForm">
  <div>
    <input #fileInput type="file" name="songs" (change)="onFileSelect($event)" accept=".json" hidden />
  </div>
  <button matButton mat-flat-button color="accent" (click)="fileInput.click()" [disabled]="loading">
    {{ botService.streamerSongsText }}
    <i class="fas fa-spinner fa-pulse" *ngIf="loading || !botService.streamerSongsText"></i>
  </button>
  <div class="small-text" *ngIf="!loading">{{ msg }}</div>
</form>
