<div class="inner-content">
  <div>
    <div class="loading-container">
      <div>
        <div class="message-container" *ngIf="message">{{ message }}</div>
      </div>
    </div>
    <div class="modules-container">
      <app-request-card [type]="requestCardTypes.REQUEST_QUEUE" [requests]="botService.requestQueue"></app-request-card>
      <app-request-card
        [type]="requestCardTypes.PLAYED_REQUESTS"
        [requests]="botService.playedRequests"
      ></app-request-card>
      <app-poll-card [polls]="botService.polls"> </app-poll-card>
      <mat-toolbar class="bottom-bar">
        <button
          mat-flat-button
          (click)="scrollTo('request-queue')"
          matTooltip="Request Queue"
          matTooltipPosition="above"
        >
          <i class="fas fa-list-ol"></i>
        </button>
        <button
          mat-flat-button
          (click)="scrollTo('played-requests')"
          matTooltip="Played Requests"
          matTooltipPosition="above"
        >
          <i class="fas fa-clipboard-check"></i>
        </button>
      </mat-toolbar>
    </div>
  </div>
</div>
