<h2 style="margin-bottom: 5px;" *ngIf="botService.user">{{ botService.user.displayName }}</h2>
<div class="inner-content">
  <div style="width: 100%;">
    <div class="loading-container">
      <div>
        <div class="message-container" *ngIf="message">{{ message }}</div>
      </div>
    </div>
    <div class="modules-container">
      <app-request-card [type]="requestCardTypes.REQUEST_QUEUE" [requests]="botService.requestQueue"></app-request-card>
      <app-request-card
        [type]="requestCardTypes.PLAYED_REQUESTS"
        [requests]="botService.playedRequests"
      ></app-request-card>
      <app-poll-card [polls]="botService.polls"> </app-poll-card>
      <app-shortcuts-card></app-shortcuts-card>

      <mat-toolbar class="bottom-bar">
        <button
          mat-flat-button
          (click)="scrollTo('request-queue')"
          matTooltip="Request Queue"
          matTooltipPosition="above"
        >
          <i class="fas fa-list-ol"></i>
        </button>
        <button
          mat-flat-button
          (click)="scrollTo('played-requests')"
          matTooltip="Played Requests"
          matTooltipPosition="above"
        >
          <i class="fas fa-clipboard-check"></i>
        </button>
        <button mat-flat-button (click)="scrollTo('polls')" matTooltip="Polls" matTooltipPosition="above">
          <i class="fas fa-poll"></i>
        </button>
        <button
          mat-flat-button
          (click)="scrollTo('shortcuts')"
          matTooltip="Twitch Shortcuts"
          matTooltipPosition="above"
        >
          <i class="fab fa-twitch"></i>
        </button>
      </mat-toolbar>
    </div>
  </div>
</div>
