* {
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

.header-bar {
  position: absolute;
  top: 100px;
  left: -10px;
  width: calc(100% + 10px);
  background: none;
}

mat-toolbar-row > .username {
  display: flex;
  justify-content: center !important;
  color: white;
  flex-grow: 1;
}

.mat-toolbar.mat-primary {
  background: none;
}

.mat-toolbar-multiple-rows {
  min-height: 36px;
}

.mat-toolbar-row.secondary {
  z-index: 0;
  height: 36px;
  background: #555;
  color: #ffab40;
  display: flex;
  align-items: center;
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  justify-content: space-evenly;
}

.mat-toolbar-row > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .username {
    font-size: small;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Audiowide', cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  max-width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

mat-form-field {
  margin: 0 25px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fields {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.fields > div,
.songs-values > div {
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  width: 100%;
  /* border-right: 1px solid black;
  border-left: 1px solid black; */
}

.fields {
  font-weight: bold;
  color: orange;
}

.songs-values {
  font-size: small;
  border-radius: 5px;
}

.songs-values:hover {
  background: orange;
  cursor: pointer;
  color: black !important;
}

.highlighted {
  background: #ffcb00 !important;
  color: black !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 0 10px 2px inset orange;
}

.alternate-color {
  background: #444;
}

.songs-viewport {
  width: 100%;
  height: calc(100vh - 500px);
}

.songs-values {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.example-item {
  height: 50px;
}

mat-spinner {
  margin: 0 auto;
}

mat-panel-description {
  text-align: right;
}

.mat-expansion-panel-header-description {
  display: block;
}

.submit-request {
  margin: 25px auto 0;
}
