* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Audiowide", cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  max-width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-form-field {
  margin: 0 25px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fields {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.fields > div,
.songs-values > div {
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  width: 100%;
  /* border-right: 1px solid black;
  border-left: 1px solid black; */
}

.fields {
  font-weight: bold;
  color: orange;
}

.songs-values {
  font-size: small;
  border-radius: 5px;
}

.songs-values:hover {
  background: orange;
  cursor: pointer;
  color: black !important;
}

.highlighted {
  background: #ffcb00 !important;
  color: black !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 10px 2px inset orange;
}

.alternate-color {
  background: #444;
}

.songs-viewport {
  width: 100%;
  height: calc(100vh - 500px);
}

.songs-values {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.example-item {
  height: 50px;
}

mat-spinner {
  margin: 0 auto;
}

mat-panel-description {
  text-align: right;
}

.mat-expansion-panel-header-description {
  display: block;
}

.submit-request {
  margin-top: 25px;
}
