* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Audiowide", cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  max-width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-form-field {
  width: 100%;
}

.fields {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.fields > div,
.songs-values > div {
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  width: 100%;
  /* border-right: 1px solid black;
  border-left: 1px solid black; */
}

.fields {
  font-weight: bold;
  color: orange;
}

.songs-values {
  font-size: small;
}

.songs-values:hover {
  background: orange;
  cursor: pointer;
  color: black !important;
}

.alternate-color {
  background: #444;
}

.songs-viewport {
  width: 100%;
  height: calc(100vh - 325px);
}

.songs-values {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.example-item {
  height: 50px;
}
