<div class="item-container">
  <mat-form-field class="text-form" color="accent" *ngIf="textControl">
    <input matInput placeholder="Search For User" [formControl]="textControl" />
    <mat-hint *ngIf="onlineDisplay.length || offlineDisplay.length"
      >{{ onlineDisplay.length + offlineDisplay.length | number }} Matching Records</mat-hint
    >
  </mat-form-field>
</div>
<div class="item-container">
  <div
    class="item-card online"
    [matBadge]="onlineRequestCounts[i]"
    [matBadgePosition]="'before'"
    [routerLink]="user.id"
    *ngFor="let user of onlineDisplay; let i = index"
  >
    <i
      [ngClass]="{
        provider: true,
        fab: true,
        'fa-twitch': user.provider === provider.twitch,
        'fa-microsoft': user.provider === provider.mixer
      }"
    ></i>
    <div class="item-card-title">
      {{ user.displayName }}
    </div>
    <div
      class="item-card-logo"
      [ngStyle]="{
        backgroundImage: getLogo(user)
      }"
    ></div>
  </div>
  <div class="item-card" [routerLink]="user.id" *ngFor="let user of offlineDisplay">
    <i
      [ngClass]="{
        provider: true,
        fab: true,
        'fa-twitch': user.provider === provider.twitch,
        'fa-microsoft': user.provider === provider.mixer
      }"
    ></i>
    <div class="item-card-title">
      {{ user.displayName }}
    </div>
    <div
      class="item-card-logo"
      [ngStyle]="{
        backgroundImage: getLogo(user)
      }"
    ></div>
  </div>
</div>
<mat-spinner color="accent" *ngIf="initializing"></mat-spinner>
