.inner-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-spinner {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Audiowide', cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  max-width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  margin: 0 auto;
}

.modules-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.vote-button {
  background: #333;
  /* background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn; */
  box-shadow: black 0px 0px 5px;
}

.vote-button:not([disabled]):hover {
  background: #444;
}

.vote-icon {
  color: white;
}

.item {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: black;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item-card {
  width: 300px;
  max-width: calc(100%- 20px);
  background: #1f1f1f;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

.item-card-row > button:hover:not([disabled]) {
  color: orange;
}
.item-card.disabled {
  pointer-events: none;
  cursor: default;
}

.item-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: black;
}

.item-card-title {
  font-size: large;
  color: white;
  text-align: left;
  /* word-break: break-all; */
  text-overflow: ellipsis;
  padding: 0 2px;
  overflow: hidden;
  margin-right: 10px;
}

.item-card-logo {
  height: 40px;
  width: 40px;
  background-size: cover;
  border-radius: 50%;
}

.item-card-date {
  font-size: xx-small;
}

.item-card-status {
  font-size: x-small;
}

.module {
  width: 400px;
  max-width: 100%;
  background: #404040;
  border-radius: 2px;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  background: #1f1f1f;
  display: flex;
  align-items: center;
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  justify-content: space-evenly;
}

.bottom-bar > button {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

#new-request-button {
  position: fixed;
  bottom: 81px;
  left: 25px;
}

#new-request-button:hover {
  background: #777777;
}

.bottom-bar > button:hover {
  background: #ffab40;
  color: black;
}

@media only screen and (min-width: 865px) {
  .bottom-bar {
    display: none;
  }

  #new-request-button {
    bottom: 25px;
  }
}
