<div id="polls" class="module" *ngIf="authService.currentUser">
  <h3>Polls</h3>
  <mat-progress-bar *ngIf="botService.fetching.polls" mode="indeterminate"></mat-progress-bar>
  <div class="item-container">
    <button
      *ngIf="!botService.fetching.polls && shouldShowAddPoll()"
      mat-flat-button
      color="primary"
      (click)="botService.addPoll()"
    >
      <i class="fas fa-plus-circle"></i> Add Poll
    </button>
    <div class="item-card" *ngFor="let poll of polls; let i = index" matBadgePosition="before">
      <div
        class="item-card-row"
        *ngFor="let pollRequest of poll.requests; let prI = index"
        [matBadge]="userHasVoted(poll) ? pollRequest.votes.length : ''"
      >
        <div class="item-card-title" [ngStyle]="{ color: getRowColor(prI) }">
          {{ botService.getRequestMessage(pollRequest.request) }}
        </div>
        <div>
          <button
            class="vote-button"
            [disabled]="!poll.isOpen"
            *ngIf="shouldShowPlayButton(poll)"
            (click)="playVote(poll, pollRequest)"
            matTooltip="Play Request"
            matTooltipPosition="after"
            mat-icon-button
          >
            <i
              [ngClass]="{
                fas: true,
                'vote-icon': true,
                'fa-play': botService.playing !== pollRequest.request.id,
                'fa-spinner': botService.playing === pollRequest.request.id,
                'fa-pulse': botService.playing === pollRequest.request.id
              }"
            ></i>
          </button>
          <button
            class="vote-button"
            [disabled]="voting"
            *ngIf="shouldShowVoteButton(poll, pollRequest)"
            (click)="vote(pollRequest)"
            [matTooltip]="userHasVotedOnThisRequest(pollRequest) ? 'Revoke Vote' : 'Cast Vote'"
            matTooltipPosition="after"
            mat-icon-button
          >
            <i
              [ngClass]="{
                fas: true,
                'vote-icon': true,
                'fa-check-circle': !userHasVotedOnThisRequest(pollRequest) && !voting,
                'fa-thumbs-up': userHasVotedOnThisRequest(pollRequest) && !voting,
                'fa-spinner': voting,
                'fa-pulse': voting
              }"
            ></i>
          </button>
        </div>
      </div>
      <div class="item-card-row" *ngIf="shouldShowChart(poll)">
        <canvas
          baseChart
          [data]="charts[poll.id].data"
          [labels]="charts[poll.id].labels"
          [chartType]="charts[poll.id].type"
          [options]="charts[poll.id].options"
          [plugins]="charts[poll.id].plugins"
          [legend]="charts[poll.id].legend"
          [colors]="charts[poll.id].colors"
        >
        </canvas>
      </div>
      <div class="item-card-row">
        <div class="item-card-date">Updated At<br />{{ getLatestPollUpdate(poll) | date: 'short' }}</div>
        <span
          *ngIf="!toggling && !canClosePoll()"
          class="item-card-status"
          [ngStyle]="{ color: poll.isOpen ? 'green' : '#ff5722' }"
        >
          Poll Is {{ poll.isOpen ? 'Open' : 'Closed' }}
        </span>
        <div *ngIf="toggling" class="item-card-status"><i class="fas fa-spinner fa-pulse"></i></div>
        <button
          [disabled]="toggling"
          *ngIf="canClosePoll()"
          (click)="togglePoll(poll)"
          mat-button
          matTooltip="Toggle Poll"
          [ngStyle]="{ color: poll.isOpen ? 'green' : '#ff5722' }"
        >
          <span *ngIf="!toggling" class="item-card-status" [ngStyle]="{ color: poll.isOpen ? 'green' : '#ff5722' }">
            {{ poll.isOpen ? 'Open' : 'Closed' }}
          </span>
          <i [ngClass]="{ fas: true, 'fa-toggle-on': poll.isOpen, 'fa-toggle-off': !poll.isOpen }"></i>
        </button>
        <button
          [disabled]="toggling"
          *ngIf="canEditRequests(poll)"
          (click)="editRequests(poll)"
          mat-icon-button
          color="accent"
          matTooltip="Change Requests"
        >
          <i class="fas fa-list"></i>
        </button>
        <button
          [disabled]="toggling"
          *ngIf="canToggleGraph(poll)"
          (click)="toggleGraph(poll)"
          mat-icon-button
          color="accent"
          matTooltip="Toggle Graph"
        >
          <i class="fas fa-chart-pie"></i>
        </button>
        <button
          [disabled]="toggling"
          *ngIf="canDeletePoll()"
          (click)="deletePoll(poll)"
          mat-icon-button
          color="warn"
          matTooltip="Delete Poll"
        >
          <i *ngIf="!botService.deleting" class="fas fa-trash-alt"></i
          ><i *ngIf="botService.deleting" class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </div>
</div>
