* {
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

.header-bar {
  position: absolute;
  top: 100px;
  left: -10px;
  width: calc(100% + 10px);
  background: none;
}

mat-toolbar-row > .username {
  display: flex;
  justify-content: center !important;
  color: white;
  flex-grow: 1;
  cursor: pointer;
}

mat-toolbar-row > .username:hover {
  color: #ffab40;
}

.mat-toolbar.mat-primary {
  background: none;
}

.mat-toolbar-multiple-rows {
  min-height: 36px;
}

.mat-toolbar-row.secondary {
  z-index: 0;
  height: 36px;
  background: #555;
  color: #ffab40;
  display: flex;
  align-items: center;
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  justify-content: space-evenly;
}

.mat-toolbar-row > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Audiowide', cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  max-width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modules-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 650px) {
  .username {
    display: none !important;
  }
}

@media only screen and (max-width: 1704px) {
  .modules-container {
    padding-bottom: 150px;
  }
}

.item {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: black;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item-card {
  width: 300px;
  max-width: calc(100%- 20px);
  background: #1f1f1f;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

.item-card-row > button:hover:not([disabled]) {
  color: orange;
}
.item-card.disabled {
  pointer-events: none;
  cursor: default;
}

.item-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.item-card-title {
  font-size: large;
  color: #ffab40;
  max-width: calc(100% - 50px);
  text-align: left;
}

.item-card-logo {
  height: 40px;
  width: 40px;
  background-size: cover;
  border-radius: 50%;
}

.item-card-date {
  font-size: x-small;
}

.module {
  width: 400px;
  max-width: 100%;
  background: #404040;
  border-radius: 2px;
  margin: 10px;
  padding-bottom: 10px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  background: #1f1f1f;
  display: flex;
  align-items: center;
  background-image: url('assets/images/background-texture.png');
  background-blend-mode: color-burn;
  box-shadow: black 0px 0px 5px;
  justify-content: space-evenly;
}

.bottom-bar > button {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

#new-request-button {
  position: fixed;
  bottom: 81px;
  left: 25px;
}

#new-request-button:hover,
#toggle-to-bot-button:hover {
  background: #777777;
}

#toggle-to-bot-button {
  position: fixed;
  bottom: 156px;
  left: 25px;
}

.bottom-bar > button:hover {
  background: #ffab40;
  color: black;
}

@media only screen and (min-width: 865px) {
  .bottom-bar {
    display: none;
  }

  #new-request-button {
    bottom: 25px;
  }

  #toggle-to-bot-button {
    bottom: 106px;
  }
}
