<!-- <h2 style="margin-bottom: 5px;" *ngIf="botService.user">{{ botService.user.displayName }}</h2> -->
<mat-toolbar class="header-bar" color="primary">
  <mat-toolbar-row class="secondary" [@slideInUp]="slideInUp">
    <button mat-button (click)="location.back()" matTooltip="Go Back" matTooltipPosition="below">
      <i class="fas fa-chevron-circle-left"></i>
    </button>
    <div class="username" *ngIf="botService.user" (click)="goToStream()">
      <i
        [ngClass]="{
          fab: true,
          'fa-twitch': botService.user.provider === provider.twitch,
          'fa-microsoft': botService.user.provider === provider.mixer
        }"
        style="margin-right: 5px;"
      ></i>
      {{ botService.user.displayName | uppercase }}
    </div>
    <button mat-button matTooltip="Control Bot" matTooltipPosition="below" *ngIf="hasAccess" (click)="toggleToBot()">
      <i class="fas fa-robot"></i>
    </button>
    <button
      mat-flat-button
      color="accent"
      matTooltip="New Request"
      matTooltipPosition="below"
      [disabled]="!botService.canRequest"
      (click)="newRequest()"
    >
      <i class="fas fa-plus-circle"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div class="inner-content">
  <div>
    <div class="loading-container">
      <div>
        <div class="message-container" *ngIf="message">{{ message }}</div>
      </div>
    </div>
    <div class="modules-container">
      <app-request-card [type]="requestCardTypes.REQUEST_QUEUE" [requests]="botService.requestQueue"></app-request-card>
      <app-request-card [type]="requestCardTypes.PLAYED_REQUESTS" [requests]="botService.playedRequests">
      </app-request-card>
      <app-poll-card [polls]="botService.polls"> </app-poll-card>
      <!-- <button
        matTooltip="New Request"
        matTooltipPosition="right"
        [disabled]="!botService.canRequest"
        (click)="newRequest()"
        id="new-request-button"
        mat-fab
        color="warn"
      >
        <i class="fas fa-plus-circle"></i>
      </button>
      <button
        matTooltip="Control Bot"
        matTooltipPosition="right"
        *ngIf="hasAccess"
        (click)="toggleToBot()"
        id="toggle-to-bot-button"
        mat-fab
        color="accent"
      >
        <i class="fas fa-robot"></i>
      </button> -->
      <mat-toolbar class="bottom-bar">
        <button
          mat-flat-button
          (click)="scrollTo('request-queue')"
          matTooltip="Request Queue"
          matTooltipPosition="above"
        >
          <i class="fas fa-list-ol"></i>
        </button>
        <button
          mat-flat-button
          (click)="scrollTo('played-requests')"
          matTooltip="Played Requests"
          matTooltipPosition="above"
        >
          <i class="fas fa-clipboard-check"></i>
        </button>
        <button mat-flat-button (click)="scrollTo('polls')" matTooltip="Polls" matTooltipPosition="above">
          <i class="fas fa-poll"></i>
        </button>
      </mat-toolbar>
    </div>
  </div>
</div>
