<p *ngIf="errorMsg">{{ authService.currentUser.username }} -- {{ errorMsg }}</p>
<div *ngIf="authService.currentUser && userFromId">
  <div>
    <h3 style="text-align: center">request list stuff</h3>
    <div class="item" *ngFor="let request of requestQueue">
      <div>User: {{ request.user_id }} (will change to user object)</div>
      <div>message: {{ request.message }}</div>
      <div>link: {{ request.link }}</div>
      <div>attachment: {{ request.attachment }}</div>
      <div>
        created by: {{ request.created_by }} (will change to user object)
      </div>
    </div>
    <div class="item" *ngIf="!requestQueue.length && userFromId">
      No Upcoming Requests for {{ userFromId.username }}
    </div>
  </div>
  <div>
    <h3 style="text-align: center">played requests list</h3>
    <div class="item" *ngFor="let request of playedRequests">
      <div>User: {{ request.user_id }} (will change to user object)</div>
      <div>message: {{ request.message }}</div>
      <div>link: {{ request.link }}</div>
      <div>attachment: {{ request.attachment }}</div>
      <div>
        created by: {{ request.created_by }} (will change to user object)
      </div>
    </div>
    <div class="item" *ngIf="!playedRequests.length && userFromId">
      No Played Requests
    </div>
  </div>
  <div>
    <h3 style="text-align: center">Make A New Request (Songs DB)</h3>
  </div>
  <div>
    <h3 style="text-align: center">Interactive Polls?</h3>
  </div>
</div>
<!-- <button mat-button color="warn"></button> -->
<mat-spinner
  color="accent"
  *ngIf="!authService.currentUser || !userFromId"
></mat-spinner>
