<div class="item-container">
  <p *ngIf="errorMsg">
    {{ authService.currentUser.username }} -- {{ errorMsg }}
  </p>
  <div class="request-queue" *ngIf="authService.currentUser && userFromId">
    <h3 style="text-align: center">Request Queue</h3>
    <div class="item-container">
      <div class="item-card" *ngFor="let request of requestQueue">
        <div class="item-card-title">{{ request.createdBy.display_name }}</div>
        <div
          class="item-card-logo"
          [ngStyle]="{ backgroundImage: 'url(' + request.createdBy.logo + ')' }"
        ></div>
      </div>
    </div>
  </div>

  <mat-spinner
    color="accent"
    *ngIf="!authService.currentUser || !userFromId"
  ></mat-spinner>
</div>
